@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
 * {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
body{
    display: flex;
}
nav{
    position: fixed;
    background-color: #f44336;
    width: 300px;
    height: 620px;
    color: #fff;
    padding-top: 110px;
    padding-left: 28px;

}
nav h3 {
    font-size: 25px;
    height: 50px;
    width: 100px;
    line-height: 35px;
    margin-left: 17px;
}
nav ul{
    list-style-type: none;

    margin-top: 95px;
}
nav ul li{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}


ul li .fas{
    width: 25px;
}

ul li:hover{
    background-color: #fff;
}

ul li:hover a{
    color: #070706;
}
ul li{
    margin: -9px 9px;
    padding: 8px 6px;
    border-bottom: 1px solid #f44336;
    border-top: 1px solid #f44336;
}
.wanheda{
    position: absolute;
    left: 30%;
    top: 5px;
    width: 500px;
}
.jomb{
    font-size: 40px!important;
    margin-top: 70px;
}
.jomb h3{
    color: #F44336;
}

.line{
    height: 0.90px;
    width: 50px;
    border: 5px solid #F44336 ;
    border-radius: 4px;
}

.showcase img:hover {
    opacity: 1;
}
.showcase {
    position:absolute;
    max-width: 1200px;
    width: 70%;
    flex-wrap: wrap;
    height: 372px;
    left: 369px;
    top: 241px;
    margin-bottom: -6px;
    margin-top: 16px;
}
.showcase img{
    opacity: 0.8;
    width: 428px;
    margin-bottom: -6px;
    margin-top: 10px;
    margin-right: 10px;
}
.jomb1{
    font-size: 40px!important;
    margin-top: 70px;
    color: #F44336;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    background-color: #F1F1F1;
    margin-right: 2rem;
}
.card:hover{
   transform: scale(1.05);
    transition: all easei .4s;
}
.card img{
    width: 100%;
    height: 100%;
}
.card-content{
    padding: .8rem 1rem;
    padding-bottom: 2rem;
}
.card h5{
    margin: .8rem 0;
    font-size: 1rem;
}
.card h6{
    opacity: .4;
    font-size: .9rem;
    margin-bottom: 1rem;
}
.card p{
    font-size: .8rem;
}

.planes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plane{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #F1F1F1;
    margin-right: 10px;
    cursor: pointer;
    transition: all ease .4s;
}
.plane:hover{
    transform: scale(1.02);
    opacity: .7;
}
.plane h4{

    z-index: 0;
    color: white;
    padding: 1rem 0;
}
.gray{
    background-color: gray;
}
.gray-button{
    background-color: black;
    padding: 0.50rem;
}
.gray-button:hover{
   background-color: #F44336;
   color: white;
   padding: 0.50rem;

}
.red-button{
    background-color: white;
    padding: 0.50rem;
    background-color: #F44336;
    color: white;
}
.red-button:hover{
   background-color: #ffffff;
   color: #000000;

}
.red{
    background-color: #F44336;


}
.plane span {
    padding: .7rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}
.plane button{
    width: 20%;
    margin: 1rem auto;
    border: none;
    cursor: pointer;
}


hr{
opacity: .5;
}

input{

    border: 1px solid #b1abab;
    padding: 8px;
    width: 62em;
    display: block;
}
input , button {
    padding: 8px;
    font-size: 14px;
    color: #f3f5f9;
    width: 61em;
    height: 30px;
}
button{
    background-color: #f44336;
    border: none;
    width: 61em;
    margin-bottom: 100px;
}